
.cart{

}
.cart__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 ;
  border-bottom: 1px solid #e5e5e5;
}
.content__title{
  display: flex;
  align-items: center;
  font-size: 32px;
  gap: 10px;
  svg{
    width: 25px;
    height: 25px;
  }
}
.cart__clear{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: .1s linear;
  span{
    color: #B6B6B6;
  }
  &:hover{
    span{
      color: darken(#B6B6B6, 20%);
    }
    svg{
      path{
        stroke:darken(#B6B6B6, 20%);
      }
    }
  }
}
.content__items{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cart__bottomDetails{

}
.cart__bottom{

}
.cart__item{
  display: flex;
  align-items: center;
  padding: 20px 0;
  width: 100%;
}
.pizzaBlock__img {
  display: block;
  width: 80px;
  height: 80px;
}
.cartItem__info{
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}
.cartItem__count{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  button{
    width: 30px;
    height: 30px;
    outline: none;
    background-color: transparent;
    border: 2px solid #fe5f1e;
    border-radius: 50%;
    transition: .1s linear;
    cursor: pointer;
    svg{
      path{
        fill: #fe5f1e ;
      }
    }
    &:hover{
      transform: scale(103%);
      border-color: #fe5f1e;
      svg{
        path{
          fill: #fe5f1e;
        }
      }
    }
    &:last-child{
        border-color: #fe5f1e;
        svg{
          path{
            fill: #fe5f1e;
          }
        }
    }
  }
.disabled{
  &:hover{
    transform: none;
    border-color: #B6B6B6;
    svg{
      path{
        fill: #B6B6B6;
      }
    }
  }
  border-color: #B6B6B6;
  svg{
    path{
      fill: #B6B6B6;
    }
  }
}
}
.cartItem__price{
  text-align: center;
  font-size: 24px;
  width: 33%;
}
.cartItem__remove{
  user-select: none;
  cursor:pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #B6B6B6;
  transition: .1s linear;
  svg{
    path{
      fill: #B6B6B6;
    }
  }
  &:hover{
     border-color: #fe5f1e;
      transform: rotate(135deg);
    svg{
       path{
         fill: #fe5f1e;
       }
     }
   }

}