
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;  /* IE and Edge */
}
body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: 'Nunito', sans-serif;
}
*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
